.weather-display, .forecast {
  margin: 20px;
}

.weather-info img {
  margin-left: 10px;
}

.city-search input {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.city-search button {
  padding: 8px 12px;
  background-color: #605d0e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}



.forecast-card {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  text-align: center;
}
